fastapi==0.110.1
uvicorn==0.29.0
langchain==0.1.16
langchain-community==0.0.34
langchain-groq==0.1.3
langchain-huggingface==0.0.3
langchain-text-splitters==0.0.2
sentence-transformers==2.7.0
faiss-cpu==1.8.0
pypdf==4.2.0
python-dotenv==1.0.1
google-api-python-client==2.126.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0